.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: #FFFEFD;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 76px;
    align-items: center;
}
.header__logo {
    flex: 0 0 63px;
    display: block;
    position: relative;
    z-index: 3;
}
.header__logo img {
    max-width: 100%;
}
.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li {
    list-style: none;
}
.header__link {
    padding: 0 0 0 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.header__link:hover {
    color: #FF7236;
}
.header__link-down {
    display: none;    
}
@media (max-width:767px) {
    body.lock {
        overflow: hidden;
    }
    .header__burger {
        display: block;
        width: 22px;
        height: 14px;
        position: relative;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 6px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 6px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 6px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FAC663;
        padding: 100px 0px 0px 0px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }
    .header__menu.active {
        top: 0;
    }
    .header__logo {
        flex: 0 0 46px;
    }
    .header__body {
        height: 62px;
    }
    .header__list {
        display: block;
    }
    .header__list li {
        margin: 0px 0px 25px 0px;
    }
    .header__link {
        font-size: 20px;
    }
    .header__link-down {
        display: inherit;
    }
}